.container{
    width: 50%;
    background-color: white;
    margin-top: 100px;
    padding: 25px;
}

.container .signup-page{
    align-items: center;
    margin: auto;
}
.signup-page h3{
    text-align: center;
}

.signup-page .sign-up{
    margin: 10px auto;
}